


<div class="span-5 content-box prepend-top box">
  <h3>We helps you find the best <em>SingTel's service price plan</em> and calculate how much you can save!</h3>
</div>
<div id="mobileform">
<div class="span-8 prepend-top box">
  <%= form_tag ({:action => :result, :remote => true}) do %>
	<h3 class="red">Mobile Price Plan Calculator</h3>
    <p>Fill in your estimated monthly mobile usage:</p>	<hr>
	
    <label>Talktime<br>	
	<span class="small">Minutes</span></label>
    <%= number_field_tag(:talktime, params[:talktime]) %> 
	
    <label>Data Usage<br>	
	<span class="small">Megabyte (mb)</span></label>
    <%= number_field_tag(:data, params[:data]) %>
	
    <label>Subscription<br>	
	<span class="small">Monthly Fees $</span></label>
    <%= number_field_tag(:subfee, params[:subfee]) %>

    <%= submit_tag("Calculate", :class => "calculate") %>
  <% end %>
</div>

<div class="span-8 prepend-top box last">
  <% if !@result.nil? %>
  <h3 class="red"><%= "Our Recommendation" %></h3><p>for your usage is:</p><hr>
  <%= @result  %>
  <% end %>
</div>
</div>

<div class="span-18 prepend-6 last">
<hr/>
<div class="span-8">
<table id="rounded-corner" summary="SingTel's Mobile Price Plan">
  <caption class="blue">SingTel's Mobile Price Plan</caption>

    <thead>
    	<tr>
        	<th scope="col" class="rounded-priceplan">Price Plan</th>
            <th scope="col" class="rounded-q1">Monthly Subscription</th>
            <th scope="col" class="rounded-q2">Free Local Outgoing Calls (mins)</th>
            <th scope="col" class="rounded-q3">Free Local SMS</th>
            <th scope="col" class="rounded-q4">Free Local Data</th>

        </tr>
    </thead>
	<!--
        <tfoot>
    	<tr>
        	<td colspan="5"><em></em></td>
        	
        </tr>
    </tfoot>
	-->

    <tbody>
    	<tr>
        	<td>iOne Super Value</td>
            <td>$15.00</td>
            <td>80</td>
            <td>50</td>
            <td>-</td>

        </tr>
        <tr>
        	<td>iOne Plus</td>
            <td>$25.68</td>
            <td>100</td>
            <td>500</td>
            <td>-</td>

        </tr>
        <tr>
        	<td>iTwo Value</td>
            <td>$48.15</td>
            <td>300</td>
            <td>500</td>
            <td>-</td>

        </tr>
        <tr>
        	<td>iTwo Plus</td>
            <td>$82.93</td>
            <td>700</td>
            <td>500</td>
            <td>-</td>

        </tr>
		<tr>
        	<td>iThree Plus</td>
            <td>$192.60</td>
            <td>2000</td>
            <td>2000</td>
            <td>-</td>
			
        </tr>
		<tr>
        	<td>iFlexi Lite</td>
            <td>$39.00</td>
            <td>100</td>
            <td>500</td>
            <td>12Gb</td>
			
        </tr>
		<tr>
        	<td>iFlexi Value</td>
            <td>$56.00</td>
            <td>200</td>
            <td>500</td>
            <td>12Gb</td>
			
        </tr>
		<tr>
        	<td class="rounded-foot-left">iFlexi Plus</td>
            <td>$95.00</td>
            <td>500</td>
            <td>500</td>
            <td class="rounded-foot-right">12Gb</td>
			
        </tr>
		
    </tbody>
</table>
</div>
</div>

