
  <div id="sub-navigation" class=" span-24 last append-bottom">
    <%= link_to "Apple", :action => 'apple' %>
    <%= link_to "Blackberry", :action => '' %>
    <%= link_to "HTC", :action => 'htc' %>
    <%= link_to "LG", :action => '' %>
    <%= link_to "Motorala", :action => '' %>
    <%= link_to "Nokia", :action => 'nokia' %>
    <%= link_to "Samsung", :action => 'samsung' %>
    <%= link_to "Sony Ericsson", :action => '' %>
    <%= link_to "Free Phone", :action => 'free' %>
    <%= link_to "Non Camera", :action => 'noncam' %>
  </div>

<hr />

<div class="span-5 colborder">
  <% @productlists.each do |p| %>
    <%= image_tag(p.image_url, :size => "60x107") %>
    <%= link_to p.modelname, :action => 'show', :id => p.id %>
    <%= "Price From: #{number_to_currency(p.iop)}" %>
    <%=  %>
  <% end %>
</div>