<%= link_to("Back to store", {:action => 'index'})  %>
<hr/>
<div class="span-24 last">
  
<div class="span-7 colborder">
 
  <div class="box center"><strong><%=  @product.modelname %></strong><br/>
Color:
<%=  @product.color %></div>
  <div class="center"><%= image_tag(@product.image_url) %></div>
  
</div>

<div class="span-13 last">
<table summary="Details"  border="0" cellspacing="0" cellpadding="0">
  <caption><strong><%= "Product Specifications:" %></strong></caption>
 
  <tr>
    <th>General:</th>
    <td>Network:</td>
  </tr>
  <tr>
    <td></td>
    <td><%= "#{@product.gnetwork} Phone"%></td>
  </tr>
  <tr>
    <th>Memory:</th>
    <td>Internal:</td>
    <td>Card Slot:</td>
  </tr>
  <tr>
    <td></td>
    <td><%= @product.minternal %></td>
    <td><%= @product.mcardslot %></td>
  </tr>
  <tr>
     <th>Data:</th>
     <td>WLAN:</td>
     <td>Bluetooth:</td>
     <td>USB:</td>
  </tr>
  <tr>
    <td></td>
     <td><%= @product.dwlan %></td>
     <td><%= @product.dbluetooth %></td>
     <td><%= @product.dusb %></td>
  </tr>
  <tr>
    <th>Camera:</th>
    <td>Primary:</td>
    <td>Video:</td>
    <td>Secondary:</td>
  </tr>
  <tr>
    <td></td>
    <td><%= @product.cprimary %></td>
    <td><%= @product.cvideo %></td>
    <td><%= @product.csecondary %></td>
  </tr>
  <tr>
    <th>Features:</th>
    <td>OS:</td>
    <td>Radio:</td>
    <td>Java:</td>
  </tr>
  <tr>
    <td></td>
    <td><%= @product.fos %></td>
    <td><%= @product.fradio %></td>
    <td><%= @product.fjava %></td>
  </tr>
  <tr>
    <th>Battery</th>
    <td><%= @product.battery %></td>
  </tr>
  </table>
  <table summary="Details"  border="0" cellspacing="0" cellpadding="0">
      <caption><strong><%= "Price" %></strong></caption>
 <thead>
<tr>
  <th>iOne Plus</th>
  <th>iTwo Value</th>
  <th>iTwo Plus</th>
  <th>iThree Plus</th>
  <th>Flexi Lite</th>
  <th>Flexi Value</th>
  <th>Flexi Plus</th>
</tr>
</thead>
<tr>
  <td><%= number_to_currency(@product.iop) %></td>
  <td><%= number_to_currency(@product.itv) %></td>
  <td><%= number_to_currency(@product.itp) %></td>
  <td><%= number_to_currency(@product.ithp) %></td>
  <td><%= number_to_currency(@product.fl) %></td>
  <td><%= number_to_currency(@product.fv) %></td>
  <td><%= number_to_currency(@product.fp) %></td>
</tr>

</table>
</div>

</div>