<!DOCTYPE html>
<html>
<head>
  <title>SingTel's Service Calculator - Find the best price plan from SingTel</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  
  <meta name="title" content="Service Calculator"/>
  <meta name="description" content="We help you find the best price plan available, and calculate your saving from the different service subscription available" />

  <!-- GA -->
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-23649807-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  </script>
</head>

<body>

<div class="container">
  <div id="headerNav" class="span-15">   
    <ul>
	  <li><%= link_to "Home", {:controller => 'mobile'} %></li>
      <li><%= link_to "Mobile Price Plans", :controller => 'mobile' %></li>
	  <li><%= link_to "mio Plan", :controller => 'mioplan' %></li>
	  <li><%= link_to "mio Home", :controller => 'miohome' %></li>
      <li><%= link_to "Store", :controller => 'store' %></li>
    </ul>
  </div>

  <%= yield %>
  
<hr/>

 <div class="footer">
   A project on <%= link_to("SingTel's", "http://www.singtel.com/") %> services, by <a href="mailto:edmundfongkh@gmail.com"><em>Edmund Fong</em></a> & <em>Team</em> <br/>
   <font size="1">SingTel's services pricing & computation method, last updated at <em>05 Oct 2010</em></font><br/>
 </div>
</div>

</body>
</html>
